/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for history table */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

body {
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}